**/*.git
**/*.bintray.json
**/*.dockerignore
**/*.git
**/*.gitignore
**/*.hound.yml
**/*.jshintrc
**/*.travis.yml
**/*debian/
**/*dhcpd.conf
**/*Dockerfile
**/*gruntfile.js
**/*HWIMO-*
**/*LICENSE
**/*.md
**/*.bash
docker/
example/
logo/
on-imagebuilder/
on-tools/
packer/
scripts/
test/
